{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="container">
    <div class="p-3 pt-5 d-flex flex-column align-items-center">
      <h1 class="m-0 p-3 fw-bold display-5 text-center">{{ movie.title }}</h1>
      <dl class="row">
        <dt class="col-sm-2 text-center">감독</dt>
        <dd class="col-sm-10">{{ movie.director }}</dd>
        <dt class="col-sm-2 text-center">장르</dt>
        <dd class="col-sm-10">{{ movie.genre }}</dd>
        <dt class="col-sm-2 text-center">개봉일</dt>
        <dd class="col-sm-10">{{ movie.opening_date }}</dd>
        <dt class="col-sm-2 text-center">러닝타임</dt>
        <dd class="col-sm-10">{{ movie.running_time }}분</dd>
        <dt class="col-sm-2 text-center">줄거리</dt>
        <dd class="col-sm-10">{{ movie.summary }}</dd>
      </dl>
      <div class="d-flex w-100 justify-content-end">
        <!-- 수정 -->
        <a class="btn btn-primary mx-2" href="{% url 'movies:update' movie.pk %}">수정</a>
        <!-- 삭제 -->
        <a class="btn btn-danger" href="{% url 'movies:delete' movie.pk %}">삭제</a>
      </div>
    </div>
  </div>
{% endblock %}
