{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="box w-100 m-3 p-5">
    <h1 class="text-center">
      <i class="bi bi-people"></i>
      회원목록
    </h1>
    <div class="left my-2">
      {% if request.user.is_authenticated %}
        <a class="btn red click" href="">로그아웃</a>
      {% else %}
        <a class="btn yellow click" href="{% url 'accounts:signup' %}">회원가입</a>
        <a class="btn green click" href="">로그인</a>
      {% endif %}
    </div>
    <table class="table align-middle text-center table-borderless">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">번호</th>
          <th scope="col">유저</th>
          <th scope="col">가입일</th>
        </tr>
      </thead>
      <tbody class="bg-light">
        {% for user in users %}
          <tr>
            <td>{{ user.pk }}</td>
            <td>
              <a class="text-dark" href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
            </td>
            <td>{{ user.date_joined }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}