<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>hello</h1>
  <!-- articles:new
  <a href="{% url 'articles:new' %}">글 쓰기</a>
  -->
  <!-- articles:create
  <a href="{% url 'articles:create' %}">글 쓰기</a>
  -->

  <!-- 게시글 목록 : DB에서 게시글 가져와서 출력 -->
  {% for article in articles %}
  <!-- 자세히 보기 : 제목을 누르면 해당 게시글 pk를 articles:detail로 전달 -->
  <h3><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></h3>
  <p>{{ article.created_at }} | {{ article.updated_at }}</p>
  <hr>
  {% endfor %}
</body>

</html>